﻿
@model RushTickets.Domain.Entities.Ticket

<h2>Create Product</h2>

<form method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Name:</label>
        <input type="text" class="form-control" asp-for="Name" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Description:</label>
        <input type="text" class="form-control" asp-for="Description" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Price:</label>
        <input type="number" class="form-control" asp-for="Price" step="0.01" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>