﻿
@model RushTickets.Domain.Entities.Ticket

<h2>Create Ticket </h2>

<form method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Name:</label>
        <input type="text" class="form-control" asp-for="Name" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Description:</label>
        <input type="text" class="form-control" asp-for="Description" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Price:</label>
        <input type="number" class="form-control" asp-for="Price" step="0.01" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <style>


        .error-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
        }

            .error-container h2 {
                color: #e74c3c;
            }

            .error-container ul {
                list-style-type: none;
                padding: 0;
            }

            .error-container li {
                color: #e74c3c;
                margin: 5px 0;
            }
    </style>

    @{
        if (ViewBag.ErrorMessages != null)
        {
            <div class="error-container">
                <h2>Error Messages</h2>
                <ul>
                    @foreach (var error in ViewBag.ErrorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
    }

</form>